<html lang="en">
<head>
    <title>Speech Synthesizer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">


    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-local-storage/0.7.1/angular-local-storage.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <script>

        //Define an angular module for our app
        var app = angular.module('pollyApp', ['LocalStorageModule']);

        app.controller('pollyController', function($scope, $timeout, $interval, localStorageService){

            // Mapping of the OutputFormat parameter of the SynthesizeSpeech API
            // and the audio format strings understood by the browser
            var AUDIO_FORMATS = {
                'ogg_vorbis': 'audio/ogg',
                'mp3': 'audio/mpeg',
                'pcm': 'audio/wave; codecs=1'
            };

            $scope.selectedIndex = 0;
            $scope.isMale = false;
            $scope.voices = [];
            $scope.text = '';
            $scope.supportedFormats = getSupportedAudioFormats(player);
            $scope.localStorage = {};
            $scope.history = [];


            // init the application
            initApp();

            $scope.clear = function() { $scope.text = ''; }

            $scope.selectVoice = function(index) { 
                $scope.selectedIndex = index;
                // localStorage.selectedVoiceIndex = index;
                // localStorageService.set('polly', localStorage);   
            }
            
            $scope.synthesize = function() {

                var selectedVoice = $scope.voices[$scope.selectedIndex].Id;
                console.log('selectedVoice', selectedVoice);
                addToHistory();

                // Point the player to the streaming server
                player.src = '/read?voiceId=' +
                    encodeURIComponent(selectedVoice) +
                    '&text=' + encodeURIComponent($scope.text) +
                    '&outputFormat=' + $scope.supportedFormats[0];
                player.play();

                // Stop the form from submitting,
                // Submitting the form is allowed only if the browser doesn't
                // support Javascript to ensure functionality in such a case
                event.preventDefault();
            }

            $scope.pressEnterOnText = function(event) {
                console.log('pressEnterOnText:', event);
                event.preventDefault();
                $scope.synthesize();
            }   

            function initApp() {
                /* init toggle and toggle event listener */
                $(function() {
                    // init the toggle
                    $('#genderToggle').bootstrapToggle();

                    // event to watch changes in the toggle.
                    $('#genderToggle').change(function() {
                        console.log('toggled:', $(this).prop('checked'));
                        $scope.isMale = !$(this).prop('checked');
                        $scope.$apply();
                    });
                });


                getVoices(function() {
                    initLocalStorage();
                    $scope.$apply();
                });
                // update the local storage
                $interval(function() {
                    // console.log('localStorage:', $scope.localStorage)

                    // check to see if the selected index has changed
                    if ($scope.localStorage.voice.index != $scope.selectedIndex) {
                        $scope.localStorage.voice.index = $scope.selectedIndex;

                        // now in addition, check to see if the gender is out of sync
                        if ($scope.localStorage.voice.gender == 'female' && $scope.isMale) {
                            $scope.localStorage.voice.gender = 'male';
                            console.log('updated male')
                        }
                        else if ($scope.localStorage.voice.gender == 'male' && !$scope.isMale) {
                            $scope.localStorage.voice.gender = 'female';
                            console.log('updated female')
                        }
                        localStorageService.set('polly', $scope.localStorage);


                    }

                }, 1000 * 3);
            }



            function initLocalStorage() {
                $scope.localStorage = localStorageService.get('polly');
                console.log('current state of the local storage:', $scope.localStorage);

                // new instance? if so init a new storage object
                if ($scope.localStorage == null) {
                    $scope.localStorage = {
                        voice: {
                            index: 0,
                            gender: 'female',
                        },
                        language: 'english',
                        history: []
                    }
                    localStorageService.set('polly', $scope.localStorage);
                }
                // use the storage object to set up the env.
                else {
                    console.log('init app with storage object');

                    $scope.selectedIndex = $scope.localStorage.voice.index;
                    if ($scope.localStorage.voice.gender == 'female') {
                        $scope.isMale = false;
                    }
                    else {
                        $scope.isMale = true;
                        $('#genderToggle').bootstrapToggle('toggle');
                    }
                    $scope.history = $scope.localStorage.history;
                    // $scope.$apply();
                }
                
            }

            function addToHistory() {
                for (var i=0; i < $scope.history.length; i++) {
                    if ($scope.text == $scope.history[i]) {
                        // alreadyInHistory = true;
                        $scope.history.splice(i, 1);
                        break;
                    }
                }
                // console.log('adding to history:', $scope.text);
                $scope.history.unshift($scope.text);
                localStorageService.set('polly', $scope.localStorage);   
                // console.log('history:', $scope.history);
            }

            // makes a request to get the available voices
            function getVoices (callback){
                fetchJSON('GET', '/voices',
                    // If the request succeeds
                    function (voices) {
                        // Build the list of options for the menu
                        $scope.$apply(function() {
                            voices.forEach(function (voice) {
                                // console.log('fetching voice:', voice);
                                // only grab the english speaking voices
                                if(voice.LanguageCode.startsWith('en')) {
                                    $scope.voices.push(voice);
                                }
                            });
                        });
                        console.log('successfully fetched voices:', $scope.voices);
                        return callback();
                    },
                    // If the request fails
                    function (status, response) {
                        // Display a message in case loading data from the server
                        // fails
                        alert(status + ' - ' + response);
                });
            }


            /**
             * Handles fetching JSON over HTTP
             */
            function fetchJSON(method, url, onSuccess, onError) {
                var request = new XMLHttpRequest();
                request.open(method, url, true);
                request.onload = function () {
                    // If loading is complete
                    if (request.readyState === 4) {
                        // if the request was successful
                        if (request.status === 200) {
                            var data;

                            // Parse the JSON in the response
                            try {
                                data = JSON.parse(request.responseText);
                            } catch (error) {
                                onError(request.status, error.toString());
                            }

                            onSuccess(data);
                        } else {
                            onError(request.status, request.responseText)
                        }
                    }
                };

                request.send();
            }

            /**
             * Returns a list of audio formats supported by the browser
             */
            function getSupportedAudioFormats(player) {
                return Object.keys(AUDIO_FORMATS)
                    .filter(function (format) {
                        var supported = player.canPlayType(AUDIO_FORMATS[format]);
                        return supported === 'probably' || supported === 'maybe';
                    });
            }

            // Initialize the application when the DOM is loaded and ready to be
            // manipulated
            document.addEventListener("DOMContentLoaded", function () {
                var player = document.getElementById('player');
                var supportedFormats = getSupportedAudioFormats(player);

                // Display a message and don't allow submitting the form if the
                // browser doesn't support any of the available audio formats
                if (supportedFormats.length === 0) {
                    submit.disabled = true;
                    alert('The web browser in use does not support any of the' +
                          ' available audio formats. Please try with a different' +
                          ' one.');
                }

            });

        });
    </script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.5/angular-material.min.css" />

    <style>
        .largeButton {
            height: 55px;
            font-size: 16px;
            font-weight: bold;
        }
        .row {
            margin: 20px 0;
        }
        .toggle{
            width: 100px !important;
            height: 55px !important;
        }
        .toggle-group > label {
            font-size: 16px;
            padding-top: 14px;
            font-weight: bold;
        }
        .dropDownToggle {
            font-size: 16px;
            font-weight: bold;
            height: 55px;
        }
        .dropDownItem {
            width: 100%;
            display: block;
            margin-left: 2px;
            padding: 5px;
            text-decoration: none;
            color: #000;
        }
        .dropDownItem:hover {
            background-color: #eee;
            text-decoration: none;
            color: #000;
        }
        .dropDownItem:active {
            background-color: #eee;
            text-decoration: none;
            color: #000;
        }
        .displayVoiceName {
            font-size: 16px;
            font-weight: bold;
        }

        .textInput {
            width: 100%;
            height: 200px
        }
        .boxShadow {
            -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
            -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
            box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
        }
    </style>
</head>

<body ng-app="pollyApp" ng-controller="pollyController" class="container">
    <div class="row">
        <!-- gender toggle -->
        <div class="col-sm-2"> 
            <input type="checkbox" checked 
                id="genderToggle"
                data-toggle="toggle" 
                data-size="small" 
                data-on="Female" 
                data-off="Male" 
                data-onstyle="info" 
                data-offstyle="info"/>
        </div>
        <!-- select voice dropdown -->
        <div id="voiceSelection" class="col-sm-3">
            <div class="btn-group">
                <button type="button" 
                    class="btn btn-primary dropDownToggle" 
                    data-toggle="dropdown" 
                    aria-haspopup="true" 
                    aria-expanded="false">
                    Select a Voice&ensp;
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu" style="min-width:300px;">
                    <div class="dropDownItem" 
                        ng-repeat="voice in voices"
                        ng-click="selectVoice($index)"
                        ng-show="!isMale && voice.Gender == 'Female'">
                        {{voice.Name}} ({{voice.LanguageName}})
                    </div>
                    <div class="dropDownItem" 
                        ng-repeat="voice in voices"
                        ng-click="selectVoice($index)"
                        ng-show="isMale && voice.Gender == 'Male'">
                        {{voice.Name}} ({{voice.LanguageName}})
                    </div>
                </div>
            </div>
        </div>

        <!-- display the selected voice -->
        <div class="col-sm-7">
            Selected Voice: <br/>
            <span class="displayVoiceName">
                {{voices[selectedIndex].Name}} ({{voices[selectedIndex].LanguageName}})
            </span>
        </div>
    </div> <!-- end voice selection row -->

    <!-- user input text area row -->
    <div class="row">
        <div class="col-sm-8">
            <!-- user input text area -->
            <textarea ng-model="text" 
                class="textInput boxShadow"
                ng-keydown="$event.keyCode == 13 && pressEnterOnText($event);">
            </textarea>
        </div>
    </div>

    <!-- action button row -->
    <div class="row">
        <div class="col-sm-2">
            <!-- synthesize button -->
            <button type="button" class="btn btn-primary largeButton" ng-click="synthesize()" ng-disabled="text.length==0">
                <i class="fa fa-volume-up" aria-hidden="true"></i>
                &ensp;Speak
            </button>
        </div>
        <div class="col-sm-2">
            <!-- clear text button -->
            <button type="button" class="btn btn-danger largeButton" ng-click="clear()" ng-disabled="text.length==0">
                <i class="fa fa-ban" aria-hidden="true"></i>
                &ensp;Clear
            </button>
        </div>
        <div class="col-sm-2">
            <!-- clear text button -->
            <button type="button" class="btn btn-primary largeButton" ng-click="save()" ng-disabled="text.length==0">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                &ensp;Save
            </button>
        </div>
    </div> <!-- end action button row -->

    <!-- audio element: does not display anything -->
    <audio id="player"></audio>

</body>

</html>